body {
    font-family: sans-serif;
    background-color: #222;
    color: #aaa;
}

a {
    color: #1e8ad6;
}

.waitBlock {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, .3);
    cursor: wait;
}

.head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.head form {
    display: inline;
}

.login {
    display: flex;
    justify-content: center;
}

.index th.number,
.index td.number {
    text-align: right;
}

.index .column {
    display: inline-block;
}

.tokens table th {
    text-align: left;
}

.tokens input[type=submit] {
    padding-top: 0;
    padding-bottom: 0;
    border-top: none;
    border-bottom: none;
}

table.list {
    border-collapse: collapse;
    font-size: .8rem;
}
table.list tbody tr:hover {
    background-color: #333;
}
table.list td, table.list th {
    padding: 2px;
    border: 1px solid grey;
    vertical-align: top;
}
