body {
    font-family: sans-serif;
    background-color: #222;
    color: #aaa;
}

a {
    color: #1e8ad6;
}

.head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.head form {
    display: inline;
}

.login {
    display: flex;
    justify-content: center;
}

.index table {
}
.index td.number {
    text-align: right;
}

.index .column {
    display: inline-block;
}

.tokens table th {
    text-align: left;
}

table.list {
    border-collapse: collapse;
    font-size: .8rem;
}
table.list tbody tr:hover {
    background-color: #333;
}
table.list td, table.list th {
    padding: 2px;
    border: 1px solid grey;
    vertical-align: top;
}
