[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "3.0.3"
mysql-connector-python = "9.0.0"
requests_oauthlib = "2.0.0"
python-jose = "3.3.0"

[dev-packages]

[requires]
python_version = "3.12"
