<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<head lang="en">
    <title>finance-check</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <div class="waitBlock"></div>

    <header class="head">
        <div>Brave Collective - Finance Check</div>

        {% if character_id %}
            <div>
                <a href="/">Home</a>
                <a href="/tokens">Tokens</a>
            </div>
        {% endif %}

        {% if character_id %}
            <div>
                {{ character_id }}
                <form action="{{ url_for('auth_logout') }}">
                    <button>Logout</button>
                </form>
            </div>
        {% endif %}
    </header>

    {% block content %}{% endblock %}

    <script type="text/javascript">
        function showWaitBlock() {
            document.querySelector('.waitBlock').style.display = 'block';
        }
    </script>
</body>
