{% extends "base.html" %}

{% block content %}

<!--suppress HtmlUnknownTarget -->
<!--suppress HtmlUnknownAttribute -->
<div class="index">

    <div>
        <form id="indexForm" action="{{ url_for('index') }}">
            <div class="column">
                <label>
                    Mode: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <select name="mode">
                        <option value="details" {% if params.mode == 'details' %}selected{% endif %}>
                            Details (one corporation, one month)
                        </option>
                        <option value="sum_months" {% if params.mode == 'sum_months' %}selected{% endif %}>
                            Sum per month (one corporation)
                        </option>
                        <option value="sum_corporations" {% if params.mode == 'sum_corporations' %}selected{% endif %}>
                            Sum per corporation (one month)
                        </option>
                    </select>
                </label>
                <br>
                <label>
                    Corporation:
                    <select name="corporation">
                        <option></option>
                        {% for corporation in corporations %}
                            <option value="{{ corporation.id }}"
                                    {% if params.corporation == corporation.id %}selected{% endif %}>
                                {{ corporation.corporation_name }}
                                &nbsp; - &nbsp;
                                {{ corporation.last_journal_date }}
                            </option>
                        {% endfor %}
                    </select>
                </label>
            </div>

            <div class="column">
                Types:<br>
                <label>
                    <input name="type_bounty" type="checkbox" value="1"
                           {% if params.type_bounty == '1' %}checked{% endif %}>
                    bounty
                </label>
                <label>
                    <input name="type_ess_escrow" type="checkbox" value="1"
                           {% if params.type_ess_escrow == '1' %}checked{% endif %}>
                    ess escrow
                </label>
                <br>
                <label>
                    <input name="type_mission_reward" type="checkbox" value="1"
                           {% if params.type_mission_reward == '1' %}checked{% endif %}>
                    mission reward
                </label>
                <label>
                    <input name="type_corporate_reward" type="checkbox" value="1"
                           {% if params.type_corporate_reward == '1' %}checked{% endif %}>
                    corporate reward
                </label>
                <br>
                <label>
                    <input name="type_brokers_fee" type="checkbox" value="1"
                           {% if params.type_brokers_fee == '1' %}checked{% endif %}>
                    brokers fee
                </label>
                <br>
                <label>
                    <input name="type_jump_clone" type="checkbox" value="1"
                           {% if params.type_jump_clone == '1' %}checked{% endif %}>
                    jump clone fees
                </label>
                <label>
                    <input name="type_structure_gate_jump" type="checkbox" value="1"
                           {% if params.type_structure_gate_jump == '1' %}checked{% endif %}>
                    structure gate jump
                </label>
                <br>
                <label>
                    <input name="type_reprocessing" type="checkbox" value="1"
                           {% if params.type_reprocessing == '1' %}checked{% endif %}>
                    reprocessing
                </label>
                <label>
                    <input name="type_industry_job" type="checkbox" value="1"
                           {% if params.type_industry_job == '1' %}checked{% endif %}>
                    industry job
                </label>
                <br>
                <label>
                    <input name="type_planetary" type="checkbox" value="1"
                           {% if params.type_planetary == '1' %}checked{% endif %}>
                    planetary import/export
                </label>
                <br>
                <label>
                    <input name="type_office_rental" type="checkbox" value="1"
                           {% if params.type_office_rental == '1' %}checked{% endif %}>
                    office rental
                </label>
                <label>
                    <input name="type_project_discovery" type="checkbox" value="1"
                           {% if params.type_project_discovery == '1' %}checked{% endif %}>
                    project discovery
                </label>
            </div>

            <div class="column">
                <label>
                    Year: &nbsp;&nbsp;
                    <select name="year">
                        {% for year_option in range(2021, current_year+1) %}
                            <option value="{{ year_option }}" {% if params.year == year_option %}selected{% endif %}>
                                {{ year_option }}
                            </option>
                        {% endfor %}
                    </select>
                </label>
                <br>
                <label>
                    Month:
                    <select name="month">
                        {% for month_num, month_name in [(1, 'Jan.'), (2, 'Feb.'), (3, 'Mar.'), (4, 'Apr.'), (5, 'May'),
                                                         (6, 'June'), (7, 'July'), (8, 'Aug.'), (9, 'Sept.'), (10, 'Oct.'),
                                                         (11, 'Nov.'), (12, 'Dec.')] %}
                            <option value="{{ month_num }}" {% if params.month == month_num %}selected{% endif %}>
                                {{ month_name }}
                            </option>
                        {% endfor %}
                    </select>
                </label>
            </div>

            <div class="column">
                <input id="indexFormExport" type="hidden" name="export" value="0">
                <input type="submit" value="Show" onclick="showData();">
                <input type="submit" value="Export" onclick="exportData();">
            </div>
        </form>
    </div>

    <br>

    {% if params.mode == 'details' %}
        <table>
            <thead>
                <tr>
                    <td>ref_type</td>
                    <td>journal_date</td>
                    <td>description</td>
                    <td>amount in</td>
                    <td>amount out</td>
                    <td>reason</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="number">{{ '{:,}'.format(sum_amount_in) }} </td>
                    <td class="number">{{ '{:,}'.format(sum_amount_out) }} </td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {% for entry in journal %}
                    <tr>
                        <td>{{ entry.ref_type }}</td>
                        <td>{{ entry.journal_date }}</td>
                        <td>{{ entry.description }}</td>
                        <td class="number">
                            {% if entry.amount_in %}{{ '{:,}'.format(entry.amount_in) }}{% endif %}
                        </td>
                        <td class="number">
                            {% if entry.amount_out %}{{ '{:,}'.format(entry.amount_out) }}{% endif %}
                        </td>
                        <td>{{ entry.reason }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if params.mode == 'sum_months' %}
        <table>
            <thead>
                <tr>
                    <td>year</td>
                    <td>month</td>
                    <td>amount in</td>
                    <td>amount out</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="number">{{ '{:,}'.format(sum_amount_in) }} </td>
                    <td class="number">{{ '{:,}'.format(sum_amount_out) }} </td>
                </tr>
            </thead>
            <tbody>
                {% for entry in journal %}
                    <tr>
                        <td>{{ entry.year }}</td>
                        <td>{{ entry.month }}</td>
                        <td class="number">
                            {% if entry.amount_in %}{{ '{:,}'.format(entry.amount_in) }}{% endif %}
                        </td>
                        <td class="number">
                            {% if entry.amount_out %}{{ '{:,}'.format(entry.amount_out) }}{% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if params.mode == 'sum_corporations' %}
    <table>
        <thead>
            <tr>
                <td>corporation</td>
                <td>amount in</td>
                <td>amount out</td>
            </tr>
            <tr>
                <td></td>
                <td class="number">{{ '{:,}'.format(sum_amount_in) }} </td>
                <td class="number">{{ '{:,}'.format(sum_amount_out) }} </td>
            </tr>
        </thead>
        <tbody>
            {% for entry in journal %}
                <tr>
                    <td>{{ entry.corporation_name }}</td>
                    <td class="number">{% if entry.amount_in %}{{ '{:,}'.format(entry.amount_in) }}{% endif %}</td>
                    <td class="number">{% if entry.amount_out %}{{ '{:,}'.format(entry.amount_out) }}{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>

<script type="text/javascript">
    function exportData() {
        document.getElementById('indexFormExport').value = 1;
        document.getElementById('indexForm').target = '__blank';
    }

    function showData() {
        document.getElementById('indexFormExport').value = 0;
        document.getElementById('indexForm').target = '';
    }
</script>

{% endblock %}
