{% extends "base.html" %}

{% block content %}

<!--suppress HtmlUnknownTarget -->
<!--suppress HtmlUnknownAttribute -->
<div class="index">

    <div>
        <form id="indexForm" action="{{ url_for('index') }}">
            <div class="column">
                <label>
                    Mode: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <select name="mode">
                        {% if params.mode == 'details' %} {% set selected_details = 'selected' %} {% endif %}
                        <option value="details" {{ selected_details }}>
                            Details (one corporation, one month)
                        </option>
                        {% if params.mode == 'sum_months' %} {% set selected_sum_months = 'selected' %} {% endif %}
                        <option value="sum_months" {{ selected_sum_months }}>
                            Sum per month (one corporation)
                        </option>
                        {% if params.mode == 'sum_corporations' %}
                            {% set selected_sum_corporations = 'selected' %}
                        {% endif %}
                        <option value="sum_corporations" {{ selected_sum_corporations }}>
                            Sum per corporation (one month)
                        </option>
                    </select>
                </label>
                <br>
                <label>
                    Corporation:
                    <select name="corporation">
                        <option></option>
                        <optgroup label="Active">
                            {% for corporation in corporations_active %}
                                <option value="{{ corporation.id }}"
                                        {% if params.corporation == corporation.id %}selected{% endif %}>
                                    {{ corporation.corporation_name }}
                                </option>
                            {% endfor %}
                        </optgroup>
                        <optgroup label="Inactive">
                            {% for corporation in corporations_inactive %}
                                <option value="{{ corporation.id }}"
                                        {% if params.corporation == corporation.id %}selected{% endif %}>
                                    {{ corporation.corporation_name }}
                                </option>
                            {% endfor %}
                        </optgroup>
                    </select>
                </label>
            </div>

            <div class="column">
                Types:
                <label>
                    {% if params.type_all == '1' %} {% set checked_all = 'checked' %} {% endif %}
                    <input name="type_all" type="checkbox" value="1" {{ checked_all }}>
                    all
                </label>
                <br>
                <label>
                    {% if params.type_bounty == '1' %} {% set checked_bounty = 'checked' %} {% endif %}
                    <input name="type_bounty" type="checkbox" value="1" {{ checked_bounty }}>
                    bounty
                </label>
                <label>
                    {% if params.type_ess_escrow == '1' %} {% set checked_ess_escrow = 'checked' %} {% endif %}
                    <input name="type_ess_escrow" type="checkbox" value="1" {{ checked_ess_escrow }}>
                    ess escrow
                </label>
                <br>
                <label>
                    {% if params.type_mission_reward == '1' %} {% set checked_mission_reward = 'checked' %} {% endif %}
                    <input name="type_mission_reward" type="checkbox" value="1" {{ checked_mission_reward }}>
                    mission reward
                </label>
                <label>
                    {% if params.type_corporate_reward == '1' %}
                        {% set checked_corporate_reward = 'checked' %}
                    {% endif %}
                    <input name="type_corporate_reward" type="checkbox" value="1" {{ checked_corporate_reward }}>
                    corporate reward
                </label>
                <br>
                <label>
                    {% if params.type_brokers_fee == '1' %} {% set checked_brokers_fee = 'checked' %} {% endif %}
                    <input name="type_brokers_fee" type="checkbox" value="1" {{ checked_brokers_fee }}>
                    brokers fee
                </label>
                <br>
                <label>
                    {% if params.type_jump_clone == '1' %} {% set checked_jump_clone = 'checked' %} {% endif %}
                    <input name="type_jump_clone" type="checkbox" value="1" {{ checked_jump_clone }}>
                    jump clone fees
                </label>
                <label>
                    {% if params.type_structure_gate_jump == '1' %}
                        {% set checked_structure_gate_jump = 'checked' %}
                    {% endif %}
                    <input name="type_structure_gate_jump" type="checkbox" value="1" {{ checked_structure_gate_jump }}>
                    structure gate jump
                </label>
                <br>
                <label>
                    {% if params.type_reprocessing == '1' %} {% set checked_reprocessing = 'checked' %} {% endif %}
                    <input name="type_reprocessing" type="checkbox" value="1" {{ checked_reprocessing }}>
                    reprocessing
                </label>
                <label>
                    {% if params.type_industry_job == '1' %} {% set checked_industry_job = 'checked' %} {% endif %}
                    <input name="type_industry_job" type="checkbox" value="1" {{ checked_industry_job }}>
                    industry job
                </label>
                <br>
                <label>
                    {% if params.type_planetary == '1' %} {% set checked_planetary = 'checked' %} {% endif %}
                    <input name="type_planetary" type="checkbox" value="1" {{ checked_planetary }}>
                    planetary import/export
                </label>
                <br>
                <label>
                    {% if params.type_office_rental == '1' %} {% set checked_office_rental = 'checked' %} {% endif %}
                    <input name="type_office_rental" type="checkbox" value="1" {{ checked_office_rental }}>
                    office rental
                </label>
                <label>
                    {% if params.type_project_discovery == '1' %}
                        {% set checked_project_discovery = 'checked' %}
                    {% endif %}
                    <input name="type_project_discovery" type="checkbox" value="1" {{ checked_project_discovery }}>
                    project discovery
                </label>
            </div>

            <div class="column">
                <label>
                    Year: &nbsp;&nbsp;
                    <select name="year">
                        {% for year_option in range(2021, current_year+1) %}
                            <option value="{{ year_option }}" {% if params.year == year_option %}selected{% endif %}>
                                {{ year_option }}
                            </option>
                        {% endfor %}
                    </select>
                </label>
                <br>
                <label>
                    Month:
                    <select name="month">
                        {% for month_num, month_name in [(1, 'Jan.'), (2, 'Feb.'), (3, 'Mar.'), (4, 'Apr.'), (5, 'May'),
                                                         (6, 'June'), (7, 'July'), (8, 'Aug.'), (9, 'Sept.'), (10, 'Oct.'),
                                                         (11, 'Nov.'), (12, 'Dec.')] %}
                            <option value="{{ month_num }}" {% if params.month == month_num %}selected{% endif %}>
                                {{ month_name }}
                            </option>
                        {% endfor %}
                    </select>
                </label>
            </div>

            <div class="column">
                <input id="indexFormExport" type="hidden" name="export" value="0">
                <input type="submit" value="Show" onclick="showData();">
                <input type="submit" value="Export" onclick="exportData();">
            </div>
        </form>
    </div>

    <br>

    {% if params.mode == 'details' %}
        <table class="list">
            <thead>
                <tr>
                    <th>ref_type</th>
                    <th>journal_date</th>
                    <th>description</th>
                    <th>amount in</th>
                    <th>amount out</th>
                    <th>reason</th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th class="number">{{ '{:,}'.format(sum_amount_in) }} </th>
                    <th class="number">{{ '{:,}'.format(sum_amount_out) }} </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for entry in journal %}
                    <tr>
                        <td>{{ entry.ref_type }}</td>
                        <td>{{ entry.journal_date }}</td>
                        <td>{{ entry.description }}</td>
                        <td class="number">
                            {% if entry.amount_in %}{{ '{:,}'.format(entry.amount_in) }}{% endif %}
                        </td>
                        <td class="number">
                            {% if entry.amount_out %}{{ '{:,}'.format(entry.amount_out) }}{% endif %}
                        </td>
                        <td>{{ entry.reason }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if params.mode == 'sum_months' %}
        <table class="list">
            <thead>
                <tr>
                    <th>year</th>
                    <th>month</th>
                    <th>amount in</th>
                    <th>amount out</th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th class="number">{{ '{:,}'.format(sum_amount_in) }} </th>
                    <th class="number">{{ '{:,}'.format(sum_amount_out) }} </th>
                </tr>
            </thead>
            <tbody>
                {% for entry in journal %}
                    <tr>
                        <td>{{ entry.year }}</td>
                        <td>{{ entry.month }}</td>
                        <td class="number">
                            {% if entry.amount_in %}{{ '{:,}'.format(entry.amount_in) }}{% endif %}
                        </td>
                        <td class="number">
                            {% if entry.amount_out %}{{ '{:,}'.format(entry.amount_out) }}{% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if params.mode == 'sum_corporations' %}
        <table class="list">
            <thead>
                <tr>
                    <th>corporation</th>
                    <th>amount in</th>
                    <th>amount out</th>
                </tr>
                <tr>
                    <th></th>
                    <th class="number">{{ '{:,}'.format(sum_amount_in) }} </th>
                    <th class="number">{{ '{:,}'.format(sum_amount_out) }} </th>
                </tr>
            </thead>
            <tbody>
                {% for entry in journal %}
                    <tr>
                        <td>{{ entry.corporation_name }}</td>
                        <td class="number">{% if entry.amount_in %}{{ '{:,}'.format(entry.amount_in) }}{% endif %}</td>
                        <td class="number">{% if entry.amount_out %}{{ '{:,}'.format(entry.amount_out) }}{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>

<script type="text/javascript">
    function exportData() {
        document.getElementById('indexFormExport').value = 1;
        document.getElementById('indexForm').target = '__blank';
    }

    function showData() {
        document.getElementById('indexFormExport').value = 0;
        document.getElementById('indexForm').target = '';
    }
</script>

{% endblock %}
