{% extends "base.html" %}

{% block content %}

<div class="tokens">

    <h3>Corporation Overview</h3>
    <table class="list">
        {% for alliance_id in want_corporations %}
            <thead>
                <tr>
                    <th colspan="10">
                        {% if loop.index > 1 %}<br>{% endif %}
                        <h4>
                            {% if alliance_id %}
                                Corporations in Alliance
                                <a href="https://evewho.com/alliance/{{ alliance_id }}" target="_blank"
                                   rel="noopener noreferrer" title="EveWho">{{ alliance_id }}</a>
                            {% else %}
                                Other Corporations
                            {% endif %}
                        </h4>
                    </th>
                </tr>
                <tr>
                    <th colspan="2">WANT</th>
                    <th colspan="3">CONFIGURED</th>
                    <th colspan="3">AVAILABLE (valid tokens only)</th>
                    <th>Match</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td>ID</td>
                    <td>Name</td>

                    <td>Character ID</td>
                    <td>Last Journal Date</td>
                    <td>Active</td>

                    <td>Character ID</td>
                    <td>Character Name</td>
                    <td>Last Checked</td>

                    <td title="CONFIGURED character ID matches one of the AVAILABLE IDs">*</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {% for corporation_id in want_corporations[alliance_id] %}
                    {% set corporation_name = find_corporation_name(corporation_id) %}
                    {% set corporation = find_configured_corporation(corporation_id) %}
                    {% set tokens = find_available_tokens(corporation_id) %}
                    <tr>
                        <td>
                            <a href="https://evewho.com/corporation/{{ corporation_id }}" target="_blank"
                               rel="noopener noreferrer" title="EveWho">{{ corporation_id }}</a>
                        </td>
                        <td>{{ corporation_name }}</td>

                        <td>
                            {% if corporation.character_id %}
                                <a href="https://evewho.com/character/{{ corporation.character_id }}" target="_blank"
                                   rel="noopener noreferrer" title="EveWho">{{ corporation.character_id }}</a>
                            {% endif %}
                        </td>
                        <td>{% if corporation.last_journal_date %}{{ corporation.last_journal_date }}{% endif %}</td>
                        <td>{% if corporation.active %}Yes{% elif corporation.character_id %}No{% endif %}</td>

                        <td>{% for token in tokens %}{{ token.characterId }}<br>{% endfor %}</td>
                        <td>{% for token in tokens %}{{ token.characterName }}<br>{% endfor %}</td>
                        <td>
                            {% for token in tokens %}
                                {% if token.lastChecked %}
                                    {{ token.lastChecked.replace('T', ' ').replace('Z', '') }}
                                {% endif %}
                                <br>
                            {% endfor %}
                        </td>

                        <td>
                            {% for token in tokens %}
                                {% if corporation.character_id == token.characterId %}
                                    Yes<br>
                                {% else %}
                                    <br>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for token in tokens %}
                                {% if corporation.character_id == token.characterId %}
                                    {% if not corporation.active %}
                                        <form method="post" action="/tokens/activate">
                                            <input type="hidden" name="corporation_id" value="{{ corporation_id }}">
                                            <input type="submit" value="activate" onclick="showWaitBlock()">
                                        </form>
                                    {% else %}
                                        <br>
                                    {% endif %}
                                {% else %}
                                    <form method="post" action="/tokens/add">
                                        <input type="hidden" name="corporation_id" value="{{ corporation_id }}">
                                        <input type="hidden" name="corporation_name" value="{{ corporation_name }}">
                                        <input type="hidden" name="character_id" value="{{ token.characterId }}">
                                        <input type="submit" value="Add" onclick="showWaitBlock()">
                                    </form>
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        {% endfor %}
    </table>

    <br>
    <h3>Active, Missing Token</h3>
    <table class="list">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Character ID</th>
                <th>Last Journal Date</th>
                <th>Action</th>
            </tr>
        </thead>
        {% for corporation in configured_corporations if corporation.active %}
            {% if not has_token(corporation.id, corporation.character_id) %}
                <tbody>
                    <tr>
                        <td>
                            <a href="https://evewho.com/corporation/{{ corporation.id }}" target="_blank"
                               rel="noopener noreferrer" title="EveWho">{{ corporation.id }}</a>
                        </td>
                        <td>{{ corporation.corporation_name }}</td>
                        <td>
                            <a href="https://evewho.com/character/{{ corporation.character_id }}" target="_blank"
                               rel="noopener noreferrer" title="EveWho">{{ corporation.character_id }}</a>
                        </td>
                        <td>{% if corporation.last_journal_date %}{{ corporation.last_journal_date }}{% endif %}</td>
                        <td>
                            <form method="post" action="/tokens/deactivate">
                                <input type="hidden" name="corporation_id" value="{{ corporation.id }}">
                                <input type="submit" value="deactivate" onclick="showWaitBlock()">
                            </form>
                        </td>
                    </tr>
                </tbody>
            {% endif %}
        {% endfor %}
    </table>

    <br>
    <h3>Active, Don't Want</h3>
    <table class="list">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Character ID</th>
                <th>Last Journal Date</th>
                <th>Action</th>
            </tr>
        </thead>
        {% for corporation in configured_corporations if corporation.active %}
            {% if not is_want_corporation(corporation.id) %}
                <tbody>
                    <tr>
                        <td>
                            <a href="https://evewho.com/corporation/{{ corporation.id }}" target="_blank"
                               rel="noopener noreferrer" title="EveWho">{{ corporation.id }}</a>
                        </td>
                        <td>{{ corporation.corporation_name }}</td>
                        <td>
                            <a href="https://evewho.com/character/{{ corporation.character_id }}" target="_blank"
                               rel="noopener noreferrer" title="EveWho">{{ corporation.character_id }}</a>
                        </td>
                        <td>{% if corporation.last_journal_date %}{{ corporation.last_journal_date }}{% endif %}</td>
                        <td>
                            <form method="post" action="/tokens/deactivate">
                                <input type="hidden" name="corporation_id" value="{{ corporation.id }}">
                                <input type="submit" value="deactivate" onclick="showWaitBlock()">
                            </form>
                        </td>
                    </tr>
                </tbody>
            {% endif %}
        {% endfor %}
    </table>

</div>

{% endblock %}
