{% extends "base.html" %}

{% block content %}

<div class="tokens">

    <h3>Corporation Overview</h3>
    <table class="list">
        {% for alliance_id in want_corporations %}
            <thead>
                <tr>
                    <th colspan="8">
                        {% if loop.index > 1 %}<br>{% endif %}
                        <h4>
                            {% if alliance_id %}
                                Corporations in Alliance
                                <a href="https://evewho.com/alliance/{{ alliance_id }}" target="_blank"
                                   rel="noopener noreferrer" title="EveWho">{{ alliance_id }}</a>
                            {% else %}
                                Other Corporations
                            {% endif %}
                        </h4>
                    </th>
                </tr>
                <tr>
                    <th colspan="2">WANT</th>
                    <th colspan="3">HAVE</th>
                    <th colspan="3">AVAILABLE (valid tokens only)</th>
                </tr>
                <tr>
                    <td>ID</td>
                    <td>Name</td>

                    <td>Character ID</td>
                    <td>Last Journal Date</td>
                    <td>Active</td>

                    <td>Character ID</td>
                    <td>Character Name</td>
                    <td>Last Checked</td>
                </tr>
            </thead>
            <tbody>
                {% for corporation_id in want_corporations[alliance_id] %}
                    {% set corporation = find_have_corporation(corporation_id) %}
                    {% set tokens = find_available_tokens(corporation_id) %}
                    <tr>
                        <td>
                            <a href="https://evewho.com/corporation/{{ corporation_id }}" target="_blank"
                               rel="noopener noreferrer" title="EveWho">{{ corporation_id }}</a>
                        </td>
                        <td>{{ find_corporation_name(corporation_id) }}</td>

                        <td>
                            <a href="https://evewho.com/character/{{ corporation.character_id }}" target="_blank"
                               rel="noopener noreferrer" title="EveWho">{{ corporation.character_id }}</a>
                        </td>
                        <td>{% if corporation.last_journal_date %}{{ corporation.last_journal_date }}{% endif %}</td>
                        <td>{{ corporation.active }}</td>

                        <td>{% for token in tokens %}{{ token.characterId }}<br>{% endfor %}</td>
                        <td>{% for token in tokens %}{{ token.characterName }}<br>{% endfor %}</td>
                        <td>
                            {% for token in tokens %}
                                {% if token.lastChecked %}
                                    {{ token.lastChecked.replace('T', ' ').replace('Z', '') }}
                                {% endif %}
                                <br>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        {% endfor %}
    </table>

    <br>
    <h3>Active, Missing Token</h3>
    <table class="list">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Character ID</th>
                <th>Last Journal Date</th>
            </tr>
        </thead>
        {% for corporation in have_corporations if corporation.active %}
            {% set tokens = find_available_tokens(corporation.id) %}
            {% if not tokens %}
                <tbody>
                    <tr>
                        <td>
                            <a href="https://evewho.com/corporation/{{ corporation.id }}" target="_blank"
                               rel="noopener noreferrer" title="EveWho">{{ corporation.id }}</a>
                        </td>
                        <td>{{ corporation.corporation_name }}</td>
                        <td>
                            <a href="https://evewho.com/character/{{ corporation.character_id }}" target="_blank"
                               rel="noopener noreferrer" title="EveWho">{{ corporation.character_id }}</a>
                        </td>
                        <td>{% if corporation.last_journal_date %}{{ corporation.last_journal_date }}{% endif %}</td>
                    </tr>
                </tbody>
            {% endif %}
        {% endfor %}
    </table>

    <br>
    <h3>Active, Don't Want</h3>
    <table class="list">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Character ID</th>
                <th>Last Journal Date</th>
            </tr>
        </thead>
        {% for corporation in have_corporations if corporation.active %}
            {% if not __is_want_corporation(corporation.id) %}
                <tbody>
                    <tr>
                        <td>
                            <a href="https://evewho.com/corporation/{{ corporation.id }}" target="_blank"
                               rel="noopener noreferrer" title="EveWho">{{ corporation.id }}</a>
                        </td>
                        <td>{{ corporation.corporation_name }}</td>
                        <td>
                            <a href="https://evewho.com/character/{{ corporation.character_id }}" target="_blank"
                               rel="noopener noreferrer" title="EveWho">{{ corporation.character_id }}</a>
                        </td>
                        <td>{% if corporation.last_journal_date %}{{ corporation.last_journal_date }}{% endif %}</td>
                    </tr>
                </tbody>
            {% endif %}
        {% endfor %}
    </table>

</div>

{% endblock %}
